!!! 5
%html{:lang => "en"}
  %head
    %title= header_title.html_safe
    = stylesheet_link_tag    "application"
    /[if IE 6]
      = stylesheet_link_tag 'ie6'
    /[if IE 7]
      = stylesheet_link_tag 'ie7'
    %link{ :rel => "stylesheet", :href => "http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css"}
    = javascript_include_tag "application"
    = csrf_meta_tags

%body.content{ :id => "#{params[:controller]}_#{params[:action]}".idify, :class => "http-#{response.status} #{params[:controller].idify}_pages" }
  #container{:class => "container row"}
    #column{:class => "span8 offset4"}
      %header
      = yield

      %footer
        %header
        %p
          %span.copyright Copyright 2011 Little Viking Games
          %span.contact= mail_to "info@littlevikinggames.com"

      = yield :body_end

